@use '@angular/material' as mat;

$moschee-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Inter',
    plain-family: 'Inter',
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($moschee-theme);
}
